---
layout: handbook-page-toc
title: Security Operations Sub-department
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

Protect company property by identifying, preventing, detecting and responding to risks and security events targeting the business and GitLab.com and its users. We are at the forefront of GitLab's security.

## Mission

The Security Operations Sub-department focuses on the operational aspect of security. Our Sub-department consists of experienced breakers, builders, and defenders from all walks of life and geographic locations. We are responsible for improving GitLab's security capabilities and metrics in the areas of:

 * Security anomaly/event detection and incident response - [SIRT - Security Incident Response Team](/handbook/security/security-operations/sirt), [Issues Tracker]( https://gitlab.com/gitlab-com/gl-security/security-operations/sirt/operations/-/issues)
 * Abuse of GitLab.com - [Trust & Safety](/handbook/security/security-operations/trustandsafety/), [Issues Tracker](https://gitlab.com/gitlab-com/gl-security/security-operations/trust-and-safety)


## Sub-department Members

The following people are permanent members of the Security Operations Sub-department:

<%
departments = ['Trust & Safety', 'Security Incident Response Team']
department_regexp = /(#{Regexp.union(departments)})/
%>

<%=  direct_team(role_regexp: department_regexp, manager_role: "Director of Security Operations") %>

## All Team Members

The following people are permanent members of teams that belong to the Operations Sub-department:

<% departments.each do |dep| %>
### <%= dep %>
  <% manager_role = "Security Manager, #{dep}" %>
  <%= direct_team(manager_role: manager_role) %>
<% end %>

## Common Links

* [How to Engage the Security Engineer On-Call](/handbook/security/security-operations/sirt/engaging-security-on-call.html)
* Slack channel to interact with the teams [#security-department](https://gitlab.slack.com/archives/CM74JMLTU)
* [GitLab Security Department Group (GitLab)](https://gitlab.com/gitlab-com/gl-security)
* [GitLab Security Operations Sub-department Group (GitLab)](https://gitlab.com/gitlab-com/gl-security/security-operations)
* [GitLab "Purple Team" processes & procedures](/handbook/security/threat-management/red-team/purple-teaming/)
