---
layout: markdown_page
title: Product Stage Direction - Manage
description: "The Manage stage in GitLab delights business stakeholders and enables organizations to work more efficiently"
canonical_path: "/direction/manage/"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

<p align="center">
    <font size="+2">
        <b>Manage helps enterprise customers setup and adopt GitLab quickly, efficiently and securely.</b>
    </font>
</p>

The Manage Stage is at the core of the GitLab platform. It is a glue that spans across different stages and enables our customers to setup and adopt GitLab by providing best in class [Authentication and Authorization](/direction/manage/auth/), a frictionless [Import](/direction/manage/importers/) experience to bring your applications into GitLab, [Integrations](/direction/manage/integrations/) with your ecosystem and an intuitive and effective [Navigation](/direction/manage/foundations/navigation_settings/) system.

<%= devops_diagram(["Manage"]) %>

## Our Groups
The Manage stage is made up of three groups including:

* [Authentication and Authorization](/direction/manage/auth/)
* [Import](/direction/manage/importers/) and [Integrate](/direction/manage/integrations/)
* [Foundations](/direction/manage/foundations/navigation_settings/).

### Resourcing and Investment

The existing team members for the Manage Stage can be found in the links below:

  * [Authentication and Authorization](/handbook/engineering/development/dev/manage/authentication-and-authorization)
  * [Foundations](/handbook/engineering/development/dev/manage/foundations/)
  * [Import](/handbook/engineering/development/dev/manage/import)
  * [Integrations](/handbook/engineering/development/dev/manage/integrations/)

## 3 Year Stage Themes

#### Drive Adoption
Manage will make it easier for Enterprises to drive adoption of GitLab by making intuitive experiences throughout the DevSecOps lifecycle. We will lean into land and expand strategy to create easy paths for adoption. We will focus on the following 
- Increased adoption and engagement with Ultimate level features
- Easier import for Enterprise customers
- Support integrations that faciliate collaboration and increase in StagesPerOrganization
We aim at making Gitlab efficient and reliable so you can get quick return on your investment.

#### Security and Reliability 
GitLab has become mission critical for many organizations. The Manage team will continue to work on ensuring that any security vulnerability that is found is quickly remediated within its SLO. Performance for both our self-managed and SaaS users is also top priority for the team since this impacts the day-to-day of our users and we want to make GitLab a delightful experience for them and to contribute to increase in efficiency and velocity of the teams.


#### Improve SUS
Manage stage spans across number of different steps in the DevSecOps lifecycle. It is a horizontal stage that touches several user journeys of most personas. We are working to improve the user experiences including standardizing the look & feel of UI components using [Pajamas](https://about.gitlab.com/handbook/product/ux/pajamas-design-system/), [new and improved](https://gitlab.com/groups/gitlab-org/-/epics/9044) navigation. In future, we may even invest in streamling search and help bots.

#### Operational Efficiency
Manage stage aims to delight business stakeholders and enables organizations to work more efficiently. We aspire to answer valuable questions for users and to automate away the mundane. We will not only provide foundational elements to operate efficiently but will exceed the standard and enable you to work in ways you previously couldn’t.

## 1 Year Plan

<%= partial("direction/manage/templates/goals") %>

<%= partial("direction/manage/templates/next") %>

## Target audience

<%= partial("direction/manage/templates/audience") %>

## Metrics

<%= partial("direction/manage/templates/metrics") %>

## How we operate

<%= partial("direction/manage/templates/operate") %>

<%= partial("direction/categories", :locals => { :stageKey => "manage" }) %>

## Pricing

<%= partial("direction/manage/templates/pricing") %>

## Upcoming Releases

<%= direction["all"]["all"] %>

<%= partial("direction/other", :locals => { :stage => "manage" }) %>

<p align="center">
    <i><br>
    Last Updated: 2023-03-03
    </i>
</p>
